.MainPage_Image{
    margin-bottom: 3%;
}

.MainPage_Main{
    width: 100%;
    height: 100%;
}
.MainPage_Card{
    margin-left: 20%;
}
.MainPage_GalleryPlus{
    margin-top: 2%;
    margin-bottom: 2%;
}